@charset "UTF-8";
/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf9ef;
}

/* utilities */
.tipografia2 {
  font-family: "Didact Gothic";
}

.tipografia1 {
  font-family: "Abril Fatface";
}

.color_principal {
  color: #bc5a45;
}

.font_l {
  font-size: larger;
}

.font_xl {
  font-size: xx-large;
}

.interletreado {
  letter-spacing: 20px;
}

.interlineado {
  line-height: 6vh;
}

/* layout */
.contenedor_flex_inicio {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 1vh;
  color: #bc5a45;
  background-color: #ffcc5c;
}

.contenedor_info_pyp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #bc5a45;
  line-height: 4vh;
  margin-bottom: 5vh;
  margin-right: 30%;
  margin-left: 30%;
  padding: 1%;
}
.contenedor_info_pyp h3 {
  font-family: "Abril Fatface";
}
.contenedor_info_pyp p {
  font-family: "Didact Gothic";
}

.img_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vh;
  margin-bottom: 12vh;
}

.padre_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
}

.sub_congelados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 5vh;
  color: #bc5a45;
  font-family: "Didact Gothic";
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  background-color: #ffcc5c;
  margin-bottom: 4vh;
}

.info_congelados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Didact Gothic";
  color: #bc5a45;
  margin-top: 6vh;
  margin-bottom: 10vh;
}
.info_congelados h3 {
  font-size: xx-large;
  font-family: "Abril Fatface";
}
.info_congelados p {
  background-color: #ffcc5c;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
}

.article_pyp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
  text-align: center;
  color: #bc5a45;
  background-color: #ffcc5c;
  margin-bottom: 10vh;
  font-family: "Didact Gothic";
  padding-bottom: 3vh;
}
.article_pyp h3 {
  padding-top: 4vh;
  padding-bottom: 1vh;
  font-family: "Abril Fatface";
  font-size: xx-large;
}
.article_pyp h4 {
  font-size: 1.5em;
  line-height: 6vh;
}
.article_pyp p {
  font-family: "Didact Gothic";
  padding-top: 5vh;
  padding-left: 25vw;
  padding-right: 25vw;
  font-size: larger;
}

.grid_inicio {
  display: grid;
  grid-template-areas: "titulo1 titulo2" "card1 card2";
  grid-template-columns: 30vw 30vw;
  gap: 10vw;
  justify-content: center;
}

.titulo1 {
  display: block;
  grid-area: titulo1;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 10%;
  font-family: "Abril Fatface";
  font-weight: initial;
  color: #bc5a45;
  font-size: large;
}

.info1 {
  display: block;
  grid-area: card1;
  text-align: center;
  background-color: #dbdbab;
  border-radius: 2%;
  padding-top: 7%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Didact Gothic";
  line-height: 5vh;
  color: #bc5a45;
}

.titulo2 {
  display: block;
  grid-area: titulo2;
  text-align: center;
  margin-bottom: 2%;
  font-family: "Abril Fatface";
  font-weight: initial;
  color: #bc5a45;
  font-size: large;
}

.info2 {
  grid-area: card2;
  background-color: #dbdbab;
  border-radius: 2%;
  color: #bc5a45;
  padding-top: 3%;
  padding-bottom: 2%;
  font-family: "Didact Gothic";
}

/* components */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
header div img {
  margin-left: 2vw;
  margin-top: 1vh;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
header nav ul li {
  display: inline-block;
  margin-right: 2vw;
  margin-top: 1vh;
}
header nav ul li a {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Didact Gothic";
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bc5a45;
}

#menu-check, #menu {
  display: none;
}

.subclase li:hover > ul {
  display: block;
}

.subclase li ul {
  display: none;
  list-style-type: none;
  text-decoration: none;
  position: absolute;
  padding: 0.5% 1% 1% 0.5%;
  text-align: start;
  font-size: medium;
  z-index: 3;
  background-color: rgba(255, 203, 92, 0.7803921569);
}

h1 {
  color: #bc5a45;
  font-family: "Abril Fatface";
  font-size: 90px;
  letter-spacing: 10px;
  text-align: center;
}

#colibria {
  letter-spacing: 6vw;
  font-family: "Abril Fatface";
  font-size: 5em;
  text-align: center;
}

.subtitulo {
  letter-spacing: 1vw;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: "Didact Gothic";
  font-size: 1.5em;
  text-align: center;
}

.sub_catering {
  color: #bc5a45;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.logo_inicio {
  height: 55px;
  width: 60px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.imagen_inicio img {
  height: auto;
  width: 100%;
  margin-bottom: 2%;
}

.picada {
  height: auto;
  width: 100%;
  position: relative;
}

.body {
  background: url(../assets/ñoquis_calabaza.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
}

.tamaño_imagen {
  position: relative;
  height: 50%;
  width: 20%;
}

.tamaño_imagen_transicion {
  position: relative;
  height: 50%;
  width: 20%;
}
.tamaño_imagen_transicion:hover {
  height: 60%;
  width: 30%;
  transition: all 1s;
}

.img_catering {
  height: 600px;
  width: 400px;
  position: relative;
  -o-border-image: none;
     border-image: none;
  left: 17%;
}

footer {
  display: grid;
  grid-template-areas: "icon" "nombre" "ubicacion" "info" "telefono";
  justify-items: center;
  text-align: center;
}
footer div a i {
  display: flex;
  flex-direction: row;
  grid-area: icon;
  color: rgba(0, 0, 0, 0.7333333333);
  margin-bottom: 2vh;
}

footer div a i:hover {
  color: #bc5a45;
}

.grid_nombre, .grid_tel, .grid_info, .grid_direccion {
  display: grid;
  grid-area: nombre;
  justify-items: center;
  line-height: 1vh;
}

.grid_direccion {
  grid-area: ubicacion;
  margin-bottom: 3vh;
}

.grid_info {
  grid-area: info;
}

.grid_tel {
  grid-area: telefono;
}

form {
  position: relative;
  left: 35vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: medium;
  background-color: rgba(255, 203, 92, 0.5921568627);
  border-radius: 10px;
  width: 400px;
  height: 400px;
  align-items: center;
  font-family: "Didact Gothic";
  color: #bc5a45;
  margin-bottom: 17vh;
  margin-top: 6vh;
  padding-top: 14px;
}

input {
  background-color: rgba(188, 91, 69, 0.2470588235);
  padding: 1%;
  border-radius: 3px;
  border-style: none;
  font-size: medium;
}

.btn {
  background-color: #bc5a45;
  color: white;
  border: #bc5a45;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  font-family: "Didact Gothic";
  text-align: center;
}
.btn:hover {
  background-color: rgba(226, 167, 6, 0.5803921569);
}

.input_mensaje {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

.carousel {
  width: 70%;
  justify-content: center;
  margin-left: 15vw;
  padding-bottom: 5%;
}

/* responsive*/
@media screen and (max-width: 575px) {
  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: block;
  }
  #menu {
    display: block;
    color: #bc5a45;
    position: absolute;
    right: 0.5rem;
    font-weight: bold;
    border: 2px solid #bc5a45;
    border-radius: 20%;
    padding: 2px;
  }
  #menu:hover {
    background-color: #bc5a45;
    color: white;
  }
  #menu-cerrar {
    display: none;
  }
  #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
  header nav {
    z-index: 9999;
    margin-left: 50vw;
    position: absolute;
    margin-top: 22vh;
  }
  header nav ul {
    flex-direction: column;
    margin-top: 2%;
  }
  header nav ul li a {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    background-color: rgba(188, 91, 69, 0.8823529412);
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    line-height: 6vh;
  }
  #colibria {
    font-size: 300%;
    margin-top: 0%;
    margin-left: 2vw;
  }
  .imagen_inicio {
    margin-top: 5%;
    height: auto;
    width: 100%;
  }
  .subtitulo {
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: large;
    word-spacing: 5%;
  }
  .logo_inicio {
    width: 40px;
    height: 40px;
  }
  .grid_inicio {
    display: grid;
    grid-template-areas: "titulo1" "card1" "titulo2" "card2";
    grid-template-columns: 40vw;
    gap: 0vw;
    justify-content: center;
  }
  .titulo2 {
    margin-top: 25%;
  }
  .info2 {
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 5vw;
  }
  .font_l {
    font-size: medium;
  }
  .font_xl {
    font-size: x-large;
  }
  .carousel {
    height: auto;
    width: 98%;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 5%;
  }
  h1 {
    color: #bc5a45;
    font-family: "Abril Fatface";
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
  }
  .img_flex {
    flex-direction: column;
  }
  .tamaño_imagen_transicion {
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 70%;
    width: 50%;
  }
  .tamaño_imagen_transicion:hover {
    height: 80%;
    width: 70%;
  }
  .contenedor_info_pyp {
    margin-bottom: 0vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .article_pyp {
    margin-top: 6vh;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .article_pyp h4 {
    font-size: 1.5em;
  }
  .article_pyp p {
    padding-left: 12vw;
    padding-right: 12vw;
    font-size: medium;
  }
  .sub_congelados {
    margin-top: 3vh;
    font-size: 15px;
  }
  .info_congelados p {
    margin-left: 5%;
    margin-right: 5%;
  }
  .tamaño_imagen {
    height: 90%;
    width: 70%;
    margin-bottom: 2%;
  }
  .fondo3 {
    height: 50%;
  }
  .fondo_c {
    height: 50%;
  }
  .body {
    background: url(../assets/ñoquis_calabaza.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
  }
  form {
    left: 25%;
    background-color: #ffcc5c;
    border-radius: 5px;
    width: 300px;
    height: 380px;
    align-items: center;
    font-family: "Didact Gothic";
    color: #bc5a45;
    margin-bottom: 17vh;
    margin-top: 6vh;
    padding-top: 14px;
  }
  .subclase li ul {
    font-size: small;
  }
  .sub_catering {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}/*# sourceMappingURL=main.css.map */