*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf9ef;
}

header nav ul li a{ 
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    font-family: "Didact Gothic";
    text-decoration: none;
    list-style-type:none;
    position: relative;
}

header nav ul li {
    display: inline-block;
    margin-right: 1vw;
    margin: 1vw;
    text-align: center;
}

h1 {
    color: #bc5a45;
    font-family: "Abril Fatface";
    font-size: 90px;
    letter-spacing: 10px;
    text-align: center;
}

.color_principal {
    color: #bc5a45;
}

#colibria{
    letter-spacing: 6vw;
    font-family: "Abril Fatface";
    }

.subtitulo {
    letter-spacing: 1vw;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: "Didact Gothic";
}

.imagen_inicio img{
    width: 100%;
    margin-bottom: 2%;
}

header nav ul li img {

    align-items: right;
    width: 50px;
    height: 70px;

}


.font_l {
    font-size:larger;
}

.font_xl {
    font-size: xx-large;
}

.tipografia2 {
    font-family:"Didact Gothic";
}

.tipografia1 {
    font-family: "Abril Fatface";
}

.interletreado {
    letter-spacing: 20px;
}

.interlineado{
    line-height: 6vh;
}


.position2 {
    position: relative;
    top: 15vh;
}

.barra_c {
    display: inline;
    margin-left: 16% ;
}

.fondo_c {
    background-color: #ffcc5c;
    height: 70px;
    line-height: 30px;
}

footer {
    display: grid;
    grid-template-areas:"icon"
                        "nombre"
                        "ubicacion";
    justify-items: center;
    text-align: center;

}

footer div a i {
    display: flex;
    flex-direction: row;
    grid-area: icon;
    color: #000000bb;
}

.grid_nombre {
    display: grid;
    grid-area: nombre;
    justify-items: center;
}

.grid_direccion {
    display: grid;
    grid-area: ubicacion;
    justify-items: center;


}
.catering {
    position: relative;
    bottom: 410px;
    right: 350px;
    line-height: 15px;
}


.img_catering {
width: 400px;
height: 600px;
position: relative;
border-image: none;
left: 17%;
}


.fondo2 {
    background-color: #ffcc5c;
    position: relative;
    height: 200px;
    margin-bottom: 5%;
}

.picada {
    width: 100%;
    position: relative;
}

.position3 {
    bottom: 150px;
}

.body {
    background: url(../assets/ñoquis_calabaza.jpg);
    background-size: cover;
    height: 200px;
}

form {
    position: relative;
    left: 39%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
    background-color: #ffcb5c97;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    align-items: center;
    font-family: "Didact Gothic";
    color: #bc5a45;
    margin-bottom: 17vh;
    margin-top: 6vh;
    padding-top: 14px;
    }

    input {
        background-color: #bc5b453f;
        padding: 1%;
        border-radius: 3px;
        border-style: none;
        font-size: medium;
    }

    .btn {
        background-color: #bc5a45;
        color: white;
        border: #bc5a45;
        border-radius: 4px;
        padding: 10px 15px 10px 15px;
        font-family: "Didact Gothic";
        text-align: center;
    }

    .input_mensaje {
        padding-top : 5%;
        padding-bottom: 5%;
        margin-bottom: 3%;
    }

    .fondo3 {
        position: relative;
        background-color: #ffcc5c;
        height: 100px;
    }

    .padre_flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vh;
        
    }

    .img_flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .tamaño_imagen {
        position: relative;
        width: 20%;
        height: 50%;
        
    }
    .tamaño_imagen_transicion {
        position: relative;
        width: 20%;
        height: 50%;
    }   

    .tamaño_imagen_transicion:hover {
        width: 30%;
        height: 60%;
        transition: all 1s;

    }

    .contenedor_flex_inicio {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        margin-top: 1vh;
        color:#bc5a45;
        background-color:#ffcc5c;
    }

    .contenedor_info_pyp {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #bc5a45;
        line-height: 4vh;
        margin-bottom: 5vh;
    }

    .article_pyp {
        margin-top: 10vh;
        font-size: 20px;
        text-align: center;
        color: #bc5a45;
        background-color:#ffcc5c;
        margin-bottom: 10vh;
        
    }

    .sub_congelados {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 5vh;
        color: #bc5a45;
        font-family: "Didact Gothic";
        text-decoration: none;
        list-style-type:none;
        font-size: 25px;
        background-color: #ffcc5c;
    }

    .info_congelados {
        text-align: center;
        color: #bc5a45;
        margin-top: 6vh;
        margin-bottom: 8vh;

    }

    .sub_catering {
        color: #bc5a45;
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }



main nav ul li {
    display: inline-block;
    margin: 1vh 6vw;
}

.grid_inicio {
    display: grid;
    grid-template-areas: "titulo1 titulo2"
                            "card1 card2";
    grid-template-columns:30vw 30vw;
    gap: 10vw;
    justify-content: center;
}

.titulo1 {
    display: block;
    grid-area: titulo1;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 8%;
    font-family: "Didact Gothic";
    font-weight: initial;
    color: #bc5a45;
    font-size: large;

}
.info1 {
display: block;
grid-area: card1;
text-align: center;
background-color: #dbdbab;
border-radius: 5%;
padding: 7%;
font-family: "Didact Gothic";
line-height: 3vh;
color: #bc5a45;
}

.titulo2 {
    display: block;
    grid-area: titulo2;
    text-align: center;
    margin-bottom: 8%;
    font-family: "Didact Gothic";
    font-weight: initial;
    color: #bc5a45;
    font-size: large;
}
.info2 {
    grid-area: card2;
        background-color: #dbdbab;
    border-radius: 5%;
    color: #bc5a45;
    padding-top: 7%;
    padding-bottom: 4%;
    font-family: "Didact Gothic";
    line-height: 3vh;

}

.info2 ul li {
    text-decoration: none;
    list-style-type: none;
}

.carousel {
    width: 70%;
    justify-content: center;
    margin-left: 15vw;
    padding-bottom: 5%;
}


@media screen and (max-width: 575px) {

    
header nav ul li a{ 
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-content: center;
    font-family: "Didact Gothic";
    text-decoration: none;
    list-style-type:none;
    

}

header nav ul li {
    display: inline-block;
    margin-right: none;
    margin: 2   vw;
    text-align: center;
    font-size: 60%;
    align-content: center;
}

#colibria {
    font-size: 300%;
    margin-top: 5%;
}

.imagen_inicio{
    margin-top: 8%;
    width: 100%;
}

.subtitulo {
    margin-bottom: 5%;
    position: relative;
    margin-top: 2%;
    font-size: large;
    word-spacing: 5%;
}



.logo_inicio {
    width: 50px;
    height: 70px;
}

.grid_inicio {
    display: grid;
    grid-template-areas: "titulo1"
                            "card1"
                            "titulo2"
                            "card2";
    grid-template-columns:40vw;
    gap: 0vw;
    justify-content: center;
}
.titulo2 {
    margin-top: 25%;
}

.info2{
margin-bottom: 10%;
padding-left: 2%;
padding-right: 2%;
}

.info2 p {
    text-align: center;
}

.font_l {
    font-size:medium
}

.font_xl {
    font-size: x-large;
}

.carousel {
    width: 100%;
    justify-content: center;
    margin-left: 0vw;
    padding-bottom: 5%;
}

h1 {
    color: #bc5a45;
    font-family: "Abril Fatface";
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
}

.img_flex {
    flex-direction: column;
}

.tamaño_imagen_transicion {
    margin-top: 2vh;
    margin-bottom: 1vh;
    width: 50%;
    height: 70%;
}   

.tamaño_imagen_transicion:hover {
    width: 70%;
    height: 80%;
}

.contenedor_info_pyp {
    margin-bottom: 0vh;
    margin-left: 5%;
    margin-right: 5%;
}

.article_pyp {
    margin-top: 6vh;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    
}

}



