.grid_inicio {
    display: grid;
    grid-template-areas: "titulo1 titulo2"
                            "card1 card2";
    grid-template-columns:30vw 30vw;
    gap: 10vw;
    justify-content: center;
}
.titulo1 {
    display: block;
    grid-area: titulo1;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 8%;
    font-family: $abril;
    font-weight: initial;
    color: $color_principal;
    font-size: large;
}

.info1 {
display: block;
grid-area: card1;
text-align: center;
background-color: #dbdbab;
border-radius: 2%;
padding-top: 9%;
padding-bottom: 5%;
padding-left: 7%;
padding-right: 7%;
font-family: $didact;
line-height: 5vh;
color: $color_principal;
}

.titulo2 {
    display: block;
    grid-area: titulo2;
    text-align: center;
    margin-bottom: 2%;
    font-family: $abril;
    font-weight: initial;
    color: $color_principal;
    font-size: large;
}
.info2 {
    grid-area: card2;
    background-color: #dbdbab;
    border-radius: 2%;
    color: $color_principal;
    padding-top: 6%;
    padding-bottom: 4%;
    font-family: $didact;
    ul {
        li {
            margin-top: 3%;
            margin-right: 1vw;
            list-style-type: none;
            text-align: center;
        }
    }
}
