.tipografia2 {
    font-family: $didact;
}

.tipografia1 {
    font-family: $abril;
}

.color_principal {
    color: $color_principal;
}

.font_l {
    font-size:larger;
}

.font_xl {
    font-size: xx-large;
}

.interletreado {
    letter-spacing: 20px;
}

.interlineado{
    line-height: 6vh;
}

