footer {
    display: grid;
    grid-template-areas:"icon"
                        "nombre"
                        "ubicacion";
    justify-items: center;
    text-align: center;
    div {
        a {
            i{
                display: flex;
                flex-direction: row;
                grid-area: icon;
                color: #000000bb;
            }
        }
    }
}
