footer {
    display: grid;
    grid-template-areas:"icon"
                        "nombre"
                        "ubicacion"
                        "info"
                        "telefono";
    justify-items: center;
    text-align: center;
    div {
        a {
            i{
                display: flex;
                flex-direction: row;
                grid-area: icon;
                color: #000000bb;
                margin-bottom: 2vh;
            }
        }
    }
}

footer {
    div {
        a {
            i:hover {
                color: $color_principal;
            }
        }
    }
}
.grid_nombre {
    display: grid;
    grid-area: nombre;
    justify-items: center;
    line-height: map-get($text_set , interlineado2 );
}

.grid_direccion {
@extend .grid_nombre;
grid-area: ubicacion;
margin-bottom: 3vh;
}

.grid_info {
    @extend .grid_nombre;
    grid-area: info;
    }

.grid_tel {
    @extend .grid_nombre;
    grid-area: telefono;
    }