.imagen_inicio img{
    @include size (100%, auto);
    margin-bottom: 2%;
}

.picada {
    @include size (100%, auto);
    position: relative;
}

.body {
    background: url(../assets/ñoquis_calabaza.jpg);
    background-size: cover;
    @include size (auto, 200px);
}

.tamaño_imagen {
    position: relative;
    @include size (20%, 50%);
}

.tamaño_imagen_transicion {
    position: relative;
    @include size (20%, 50%);

&:hover {
    @include size (30%, 60%);
        transition: all 1s;
    }
}  

.img_catering { 
    @include size (400px, 600px);
    position: relative;
    border-image: none;
    left: 17%;
}