.article_pyp {
    margin-top: 10vh;
    font-size: 20px;
    text-align: center;
    color: $color_principal;
    background-color: $color_secundario;
    margin-bottom: 10vh;
}

.info_congelados {
    text-align: center;
    color: #bc5a45;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.fondo_c {
    background-color: $color_secundario;
    height: 70px;
    line-height: 30px;
}
