h1 {
    color: $color_principal;
    font-family: $abril;
    font-size: 90px;
    letter-spacing: 10px;
    text-align: center;
}

#colibria{
    letter-spacing: 6vw;
    font-family: $abril;
    font-size: 5em;
    text-align: center;
    position: absolute;
    top: 12vh;
    }

.subtitulo {
    letter-spacing: 1vw;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: $didact;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    top: 22vh;
}

.sub_catering {
    color: $color_principal;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

