@media screen and (max-width: 575px) {

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: $color_principal;
        position: absolute;
        right: 0.5rem;
        font-weight: bold;
        border: 2px solid $color_principal;
        border-radius: 20%;
        padding: 2px;

    &:hover {
        background-color: $color_principal;
        color: white;
    }
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header {
        
        nav {
            z-index: 9999;
            margin-left: 50vw;
            position: absolute;
            margin-top: 22vh;
            ul {
                flex-direction: column;
                margin-top: 2%;
                li {
                    
                    a {
                        flex-direction: column;
                        align-items:flex-end;
                        text-align: end;
                        background-color: #bc5b45e1;
                        color: white;
                        padding-left: 4vw;
                        padding-right: 4vw;
                        line-height: map-get($text_set , interlineado);
                        
                    }
                }
            }
        }
    }

    #colibria {
        font-size: 300%;
        margin-top: 0%;
        margin-left: 2vw;
    }
    
    .imagen_inicio{
        margin-top: 5%;
        @include size (100%, auto);
    }
    
    .subtitulo {
        margin-bottom: 1%;
        margin-top: 2%;
        font-size: large;
        word-spacing: 5%;
    }
    
    .logo_inicio {
        width: 40px;
        height: 40px;
    }
    
    .grid_inicio {
        display: grid;
        grid-template-areas: "titulo1"
                                "card1"
                                "titulo2"
                                "card2";
        grid-template-columns:60vw;
        gap: 0vw;
        justify-content: center;
    }

    .titulo2 {
        margin-top: 25%;
    }
    
    .info2{
        margin-bottom: 10%;
        padding-left: 2%;
        ul {
            li {
                margin-right: 6vw;
                list-style-type: none;
                text-align: center;
            }
        }
    }
    
    .font_l {
        font-size:medium
    }
    
    .font_xl {
        font-size: x-large;
    }
    
    .carousel {
        @include size (98%, auto);
        justify-content: center;
        margin-left: 1vw;
        margin-right: 1vw;
        padding-bottom: 5%;
    }
    
    h1 {
        color: $color_principal;
        font-family: $abril;
        font-size: 50px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .img_flex {
        flex-direction: column;
    }

    .tamaño_imagen_transicion {
        margin-top: 2vh;
        margin-bottom: 1vh;
        @include size (50%, 70%);

    &:hover {
        @include size (70%, 80%);
    }
    }   

    .contenedor_info_pyp {
        margin-bottom: 0vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .article_pyp {
        margin-top: 6vh;
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
        h4 {
            font-size: 1.5em;
        }
        p {
            padding-left: 12vw;
            padding-right: 12vw;
            font-size: medium;
        }
    }
    .sub_congelados {
        margin-top: 3vh;
        font-size: 15px;
    }

    .info_congelados {
        p {
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .tamaño_imagen {
        @include size (70%, 90%);
        margin-bottom: 2%;
    }

    .fondo3 {
        height: 50%;
    }

    .fondo_c {
        height: 50%;
    }

    .body {
        background: url(../assets/ñoquis_calabaza.jpg);
        background-size:cover;
        width: 100%;
        height: auto;
    }

    form {
        background-color: $color_secundario;
        border-radius: 5px;
        width: 300px;
        height: 380px;
        align-items: center;
        left: 25%;
        font-family: $didact;
        color: $color_principal;
        margin-bottom: 17vh;
        margin-top: 6vh;
        padding-top: 14px;
        }

    .subclase li ul{
        font-size: small;
    }

    .sub_catering {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 40px;
    }

    form {
        left: 14%;
    }

    #menu {
        margin-right: 1px;
    }
}


