@media screen and (max-width: 575px) {

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: $color_principal;
        position: absolute;
        right: 0.5rem;
        font-weight: bold;
        border: 2px solid $color_principal;
        border-radius: 20%;
        padding: 2px;

    &:hover {
        background-color: $color_principal;
        color: white;
    }
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header {
        background-color: $color_principal_degradado;
        nav {
            z-index: 9999;
            margin-left: 55vw;
            position: absolute;
            margin-top: 21vh;
            ul {
                flex-direction: column;
                margin-top: 2%;
                li {
                    
                    a {
                        flex-direction: column;
                        align-items:flex-end;
                        background-color: #bc5b45e1;
                        color: white;
                        padding-left: 2vw;
                        padding-right: 2vw;
                        line-height: map-get($text_set , interlineado);
                        
                    }
                }
            }
        }
    }

    #colibria {
        font-size: 300%;
        margin-top: 2%;
        margin-left: 2vw;
    }
    
    .imagen_inicio{
        margin-top: 8%;
        width: 100%;
    }
    
    .subtitulo {
        margin-bottom: 5%;
        position: relative;
        margin-top: 2%;
        font-size: large;
        word-spacing: 5%;
    }
    
    .logo_inicio {
        width: 60px;
        height: 70px;
    }
    
    .grid_inicio {
        display: grid;
        grid-template-areas: "titulo1"
                                "card1"
                                "titulo2"
                                "card2";
        grid-template-columns:40vw;
        gap: 0vw;
        justify-content: center;
    }
    
    .titulo2 {
        margin-top: 25%;
    }
    
    .info2{
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 5vw;
    }
    
    .font_l {
        font-size:medium
    }
    
    .font_xl {
        font-size: x-large;
    }
    
    .carousel {
        @include size (100%, auto);
        justify-content: center;
        margin-left: 0vw;
        padding-bottom: 5%;
    }
    
    h1 {
        color: $color_principal;
        font-family: $abril;
        font-size: 50px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .img_flex {
        flex-direction: column;
    }

    .tamaño_imagen_transicion {
        margin-top: 2vh;
        margin-bottom: 1vh;
        @include size (50%, 70%);

    &:hover {
        @include size (70%, 80%);
    }
    }   

    .contenedor_info_pyp {
        margin-bottom: 0vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .article_pyp {
        margin-top: 6vh;
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
        
    }
    .sub_congelados {
        margin-top: 3vh;
        font-size: 15px;
    }
    
    .tamaño_imagen {
        @include size (70%, 90%);
        margin-bottom: 2%;
    }
    
    .fondo3 {
        height: 50%;
    }

    .fondo_c {
        height: 50%;
    }
    
    .body {
        background: url(../assets/ñoquis_calabaza.jpg);
        background-size:cover;
        width: 100%;
        height: auto;
    }
    
    form {
        left: 16%;
        background-color: $color_secundario;
        border-radius: 5px;
        }
    
        .subclase li ul{
            font-size: small;
        }
    }